<div class="container-fluid">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th class="h4" class="dark-gray-background">#</th>
          <th class="h4" class="dark-gray-background">Marca</th>
          <th class="h4" class="dark-gray-background">Linea</th>
          <th class="h4" class="dark-gray-background">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehiculos">
          <td>
            <strong>
              <dd>{{v.id}}</dd>
            </strong>
          <td>
            <dd>{{v.marca}}</dd>
          </td>
          <td>
            <dd>{{v.linea}}</dd>
          </td>
          <td>
            <dd>{{v.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="marcasCount">
      <ul>
        <li *ngFor="let marca of marcasCount | keyvalue">
          Total {{ marca.key }}: {{ marca.value }}
        </li>
      </ul>
    </div>
  </div>
</div>
