<h1 style="color: #F96464;">202315</h1>
<h1 style="color: #F96464;">MISW-4104</h1>
<h1 style="color: #F96464;">Evaluación Práctica Angular</h1>
<h1>TuSegundazo.com</h1>
<hr>
<div class="container-fluid">
  <div class="col-12">
    <img src="../assets/images/banner_autos.jpg" class="img-cover" alt="banner_autos">
  </div>
</div>
<hr>
<app-vehiculo-listar></app-vehiculo-listar>
<h5 class="contact-info">
  <span>Contact Us: +1 234 567 8900 | info@tusegundazo.com | Instagram: @tusegundazo</span>
</h5>
